<footer class="text-center text-lg-start bg-body-tertiary text-muted mt-5 personal-mx-5rem">
    <!-- Footer - Pro Offers -->
    <div class="parent-div mx-auto py-4"> 
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h1 class="text-center ">Get Our Pro Offers</h1>
                    <p class="text-center">Create a visual identity for your company, and an overall branding that stands out.</p>
                </div>
                <div class="col-md-6 col-lg-6 input-container d-flex justify-content-center align-items-center">
                    <input class="form-control me-2" type="text" placeholder="Email" style="max-width: 300px;">
                    <button class="btn personal-footer-button px-3" type="button">Subscribe</button>
                </div>
            </div>
            <!-- Shapes as part of the background -->
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
            <div class="shape shape-3"></div>
        </div>
    </div>
    
    <!-- Footer: Content -->
    <div>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <!-- Column 1 -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <img class="personal-website-logo mb-2" src="assets/images/website-logo.png" />
                    <p>Hello, we are Lift Media. Our goal is to translate the positive effects from revolutionizing</p>
                    <!-- Social Media Icons -->
                    <a href="" class="me-2 presonal-hyperlink-noStyle"><i class="fa-brands fa-facebook"></i></a>
                    <a href="" class="me-2 presonal-hyperlink-noStyle"><i class="fa-brands fa-pinterest"></i></a>
                    <a href="" class="me-2 presonal-hyperlink-noStyle"><i class="fab fa-instagram"></i></a>
                    <a href="" class="me-2 presonal-hyperlink-noStyle"><i class="fa-brands fa-x-twitter"></i></a>
                </div>
                <!-- Column 2 -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="perosnal-footer-header mb-4">About</h6>
                    <!-- About List -->
                    <p><a [routerLink]="['about-us']" class="presonal-hyperlink-noStyle">About Us</a></p>
                    <p><a href="#!" class="presonal-hyperlink-noStyle">Our Services</a></p>
                    <p><a [routerLink]="['terms-and-conditions']" class="presonal-hyperlink-noStyle">Privacy Policy</a></p>
                    <p><a [routerLink]="['terms-and-conditions']" class="presonal-hyperlink-noStyle">Terms & Conditions</a></p>
                </div>
                <!-- Column 3 -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Contact Details -->
                    <h6 class="perosnal-footer-header mb-4">Contact</h6>
                    <p class="presonal-hyperlink-noStyle"><i class="fas fa-home me-3"></i> Al Sharkiya, Zag 10012, EGY</p>
                    <p class="presonal-hyperlink-noStyle">
                        <i class="fas fa-envelope me-3"></i>
                        <span>info&#64;example.com</span>
                    </p>
                    <p class="presonal-hyperlink-noStyle"><i class="fas fa-phone me-3"></i> +20 11 12345678</p>
                </div>
                <!-- Column 4 -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="perosnal-footer-header mb-4">Gallery</h6>
                    <!-- Image Gallery -->
                    <div class="container">
                        <div class="row g-2">
                            <div class="col-6 col-md-4">
                                <img class="img-fluid rounded" src="assets/images/gallery-img-1.png" />
                            </div>
                            <div class="col-6 col-md-4">
                                <img class="img-fluid rounded" src="assets/images/gallery-img-2.png" />
                            </div>
                            <div class="col-6 col-md-4">
                                <img class="img-fluid rounded" src="assets/images/gallery-img-3.png" />
                            </div>
                            <div class="col-6 col-md-4">
                                <img class="img-fluid rounded" src="assets/images/gallery-img-4.png" />
                            </div>
                            <div class="col-6 col-md-4">
                                <img class="img-fluid rounded" src="assets/images/gallery-img-5.png" />
                            </div>
                            <div class="col-6 col-md-4">
                                <img class="img-fluid rounded" src="assets/images/gallery-img-6.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer: CopyRights  -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <p>&copy; 2024 Copyright | DEPI Frontend Final Project</p>
    </div>
</footer>