<!-- ############################################### -->
<!-- Banner -->
<section class="personal-banner mb-5">
    <h1>About Us</h1>
    <div class="personal-banner-links">
        <ul class="d-flex list-unstyled justify-content-center">
            <li class="me-3">
                <a [routerLink]="['']">Home <span class="ms-2">/</span></a>
            </li>
            <li>
                <a [routerLink]="['about-us']" class="active">About Us</a>
            </li>
        </ul>
    </div> 
</section>
<!-- ############################################### -->
<!-- ############################################### -->
<!-- Section 1 -->
<section class="section-space-y py-5 mb-5">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6">
                <img src="assets/images/about-img-7.png" alt="image" class="img-fluid">
            </div>
            <div class="col-lg-6 ">
                <div class="ps-xl-12 about">
                    <h2 class="personal-ornage-headers">ABOUT US</h2>
                    <h3 class="personal-navy-subHeader mb-4">See Destinations You’ll Love To Visit</h3>
                    <p class="personal-grey-descrip">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some There are many variations of passages of Lorem Ipsum available.</p>
                    <ul class="list  list2 gap-8">
                        <li>
                            <div class="d-flex align-items-start gap-4">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/about-img-8.png" alt="image" class="img-fluid">
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-2 fs-18">Book With Confident</h6>
                                    <p class="mb-3">Each trip is carefully crafted to leave you free to leave you free to live in the moment and enjoy your vacation.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-start gap-4">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/about-img-9.png" alt="image" class="img-fluid">
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-2 fs-18">Freedom to discover</h6>
                                    <p class="mb-3">Each trip is carefully crafted to leave you free to leave you free to live in the moment and enjoy your vacation.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-start gap-4">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/about-img-10.png" alt="image" class="img-fluid">
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-2 fs-18">Weather Vultures</h6>
                                    <p class="mb-3">Each trip is carefully crafted to leave you free to leave you free to live in the moment and enjoy your vacation.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="personal-abt-button">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ############################################### -->
<!-- ############################################### -->
<!-- Section 2 -->
<section class="cta-budget">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-budget__content  section-space-y d-flex">
                    <div class="mt-auto w-100">
                        <div class="row g-4 align-items-center justify-content-between mt-20">
                            <div class="col-md-8 col-xl-5">
                                <h2 class="text-light mb-0">Start Saving on Your Travel Budget</h2>
                            </div>
                            <div class="col-md-4">
                                <div class="text-md-end">
                                    <a href="/contact" class="link d-inline-block">
                                        <img src="assets/images/btn-text-2.png"  alt="image" class="img-fluid ">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ############################################### -->
<!-- ############################################### -->
<!-- Section 3 -->
<section class="section-space-y bg-light py-5 my-5">
    <div class="section-space-md-bottom text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2 class="personal-ornage-headers">Blog & News</h2>
                    <h3 class="personal-navy-subHeader mb-4">Tips and Tricks for Planning Your Dream Trip</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container imagg">
        <div class="row g-4">
            <div class="col-lg-6">
                <a href="blog-details.html" class="link d-block mb-6">
                    <img src="assets/images/blog-img-4.png" alt="" class="img-fluid w-100 rounded mb-3"> 
                </a>
                <span class="d-block fs-14 span mb-2">Solo Travel</span>
                <h5><a href="blog-details.html" class="link d-inlinline-block textlink ">Top 10 Hidden Gems: Uncover Top Secret Destinations Off the Beaten Path"</a></h5>
                <p class="mb-0">Browse through our handpicked selection of destinations and tour packages, each designed to inspire and delight.</p>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-md-6">
                        <a href="blog-details.html" class="link d-block mb-6">
                            <img src="assets/images/blog-img-5.png" alt="" class="img-fluid w-100 rounded mb-3"> 
                        </a>
                        <span class="d-block fs-14 span mb-2">Solo Travel</span>
                        <h6><a href="blog-details.html" class="link d-inlinline-block textlink ">Unveiling the Best Beach Destinations</a></h6>
                        <p class="mb-0">Browse through our handpicked selection of destinations</p>
                    </div>
                    <div class="col-md-6">
                        <a href="blog-details.html" class="link d-block mb-6">
                            <img src="assets/images/blog-img-6.png" alt="" class="img-fluid w-100 rounded mb-3"> 
                        </a>
                        <span class="d-block fs-14 span mb-2">Solo Travel</span>
                        <h6><a href="blog-details.html" class="link d-inlinline-block textlink ">Unveiling the Best Beach Destinations</a></h6>
                        <p class="mb-0">Browse through our handpicked selection of destinations</p>
                    </div>
                    <div class="col-md-6">
                        <a href="blog-details.html" class="link d-block mb-6">
                            <img src="assets/images/blog-img-7.png" alt="" class="img-fluid w-100 rounded mb-3"> 
                        </a>
                        <span class="d-block fs-14 span mb-2">Solo Travel</span>
                        <h6><a href="blog-details.html" class="link d-inlinline-block textlink ">Unveiling the Best Beach Destinations</a></h6>
                        <p class="mb-0">Browse through our handpicked selection of destinations</p>
                    </div>
                    <div class="col-md-6">
                        <a href="blog-details.html" class="link d-block mb-6">
                            <img src="assets/images/blog-img-8.png" alt="" class="img-fluid w-100 rounded mb-3"> 
                        </a><span class="d-block fs-14 span mb-2">Solo Travel</span>
                        <h6><a href="blog-details.html" class="link d-inlinline-block  textlink ">Unveiling the Best Beach Destinations</a></h6>
                        <p class="mb-0">Browse through our handpicked selection of destinations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ############################################### -->
<!-- ############################################### -->
<!-- Section 4 -->
<section class="section-space-md-top section-space-bottom py-5">
    <div class="section-space-md-bottom text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2 class="personal-ornage-headers">POPULAR DESTINATION</h2>
                    <h3 class="personal-navy-subHeader mb-4">Vacations To Make Your Experience Enjoyable</h3>                    
                </div>
            </div>
        </div>
    </div>
    <div class="container imagg ">
        <div class="row g-4 ">
            <div class="col-12 ">
                <div class="tab-content ">
                    <div class="tab-pane fade show active" id="dayLongTabs" role="tabpanel">
                        <div class="row g-4">
                            <div class="col-md-9 col-xl-3 ">
                                <div class="row g-4">
                                    <div class="col-md-6 col-xl-12">
                                        <div class="position-relative rounded overflow-hidden">
                                            <img src="assets/images/td-img-1.png" alt="image" class="img-fluid w-100 h-100 object-fit-cover"> 
                                            <a class="link position-absolute top-0 start-0 w-100 h-100 p-4 p-md-6 bg-dark d-flex flex-column align-items-start justify-content-start">
                                                <span class="d-block h6 text-white fw-medium mb-0 mt-auto">Finland </span>
                                                <span class="d-block fs-14 text-white">Worefall</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-12">
                                        <div class="position-relative rounded overflow-hidden">
                                            <img src="assets/images/td-img-2.png" alt="image" class="img-fluid w-100 h-100 object-fit-cover"> 
                                            <a class="link position-absolute top-0 start-0 w-100 h-100 p-4 p-md-6 bg-dark  d-flex flex-column align-items-start justify-content-start">
                                                <span class="d-block h6 text-white fw-medium mb-0 mt-auto">Prag </span>
                                                <span class="d-block fs-14 text-white text-decoration-none">Worefall</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xl-4">
                                    <div class="position-relative rounded overflow-hidden">
                                        <img src="assets/images/td-img-3.png" alt="image" class="img-fluid w-100 h-100 object-fit-cover"> 
                                        <a class="link position-absolute top-0 start-0 w-100 h-100 p-4 p-md-6 bg-dark  d-flex flex-column align-items-start justify-content-start">
                                            <span class="d-block h6 text-white fw-medium mb-0 mt-auto">Ankara </span>
                                            <span class="d-block fs-14 text-white">Worefall</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="row g-4">
                                        <div class="col-md-12">
                                            <div class="position-relative rounded overflow-hidden">
                                                <img src="assets/images/td-img-4.png" alt="image" class="img-fluid w-100 h-100 object-fit-cover"> 
                                                <a class="link position-absolute top-0 start-0 w-100 h-100 p-4 p-md-6 bg-dark  d-flex flex-column align-items-start justify-content-start">
                                                    <span class="d-block h6 text-white fw-medium mb-0 mt-auto">Istanbul </span>
                                                    <span class="d-block fs-14 text-white">Worefall</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-xl-5"><div class="position-relative rounded overflow-hidden">
                                            <img src="assets/images/td-img-5.png" alt="image" class="img-fluid w-100 h-100 object-fit-cover"> 
                                            <a class="link position-absolute top-0 start-0 w-100 h-100 p-4 p-md-6 bg-dark  d-flex flex-column align-items-start justify-content-start">
                                                <span class="d-block h6 text-white fw-medium mb-0 mt-auto">Ethence </span>
                                                <span class="d-block fs-14 text-white">Worefall</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-7">
                                        <div class="position-relative rounded overflow-hidden">
                                            <img src="assets/images/td-img-6.png" alt="image" class="img-fluid w-100 h-100 object-fit-cover"> 
                                            <a class="link position-absolute top-0 start-0 w-100 h-100 p-4 p-md-6 bg-dark  d-flex flex-column align-items-start justify-content-start">
                                                <span class="d-block h6 text-white fw-medium mb-0 mt-auto">London </span>
                                                <span class="d-block fs-14 text-white">Worefall</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>