/* NavBar */
#personal-navigation-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
/* Nav Elements on hover */
.navbar-nav .nav-item .nav-link:hover,
.dropdown-menu .dropdown-item:hover {
    color: var(--TextOrange);
}
/* NavBar Button */
.personal-homepage-nav-button {
    background-color: var(--NavBarButton);
    color: aliceblue;
}
.personal-homepage-nav-button:hover {
    background-color: var(--NavBarButtonHover);
    color: aliceblue;
}
