<section class="banner section-space-y">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="section-space-md-y text-center">
                    <h1 class="h2 " id="h1-Contact">Contact</h1>
                    <ul class="list list-row  justify-content-center">
                        <li><a [routerLink]="['']" class="link  link-home " id="link-home">Home <span class="ms-2">/</span></a></li>
                        <li><a [routerLink]="['contact']" class="link text-lg-start  " id="link-contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ############################################################ -->
<!-- About -->
<section class="section-space-y">
    <div class="container">
        <div class="row g-4 justify-content-xxl-between">
            <div class="col-lg-6">
                <span class="d-block fs-14 fw-medium mb-1 about-span1">GET TO KNOW US</span>
                <h2 class=" about-h1">Experience the World With Triptopia</h2>
                <p class=" about-p1">Triptopia was born out of a shared passion for exploration and a desire to create meaningful travel experiences. We believe travel is more than just visiting a place;</p>
                <div class="px-8 py-6 -subtle about-span2">
                    <span class="d-block mb-0 h5 max-text-10 span2 ">The world is a book and those who do not travel read only one page.</span>
                </div>
                <div class="my-8">
                    <ul >
                        <li class="d-flex gap-2 align-items-center about-li">
                            <div class="flex-shrink-0">
                                <img src="assets/images/icon-plane.png" alt="image" class="img-fluid">
                            </div>
                            <div class="flex-grow-1  fw-medium">To curate personalized itineraries</div>
                        </li>
                        <li class="d-flex gap-2 align-items-center about-li">
                            <div class="flex-shrink-0">
                                <img src="assets/images/icon-plane.png" alt="image" class="img-fluid">
                            </div>
                            <div class="flex-grow-1  fw-medium">We believe travel fosters understanding</div>
                        </li>
                    </ul>
                </div>
                <button class="btn  text-light about-btn" [routerLink]="['']" >Discover More</button>
            </div>
            <div class="col-lg-6 col-xxl-5">
                <div class="position-relative z-1">
                    <img src="assets/images/about-img-1.png" alt="image" class="img-fluid"> 
                    <img src="assets/images/about-img-2.png" alt="image" class="img-fluid d-none d-xxl-block  translate-middle-x about-img2">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ######################################################## -->
<!-- Section 3: Form -->
<section class="section-space-y">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row g-4 align-items-center">
                            <div class="col-lg-6">
                                <h2 class="mb-5 form-h1">Get In Touch</h2>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <input type="text" class="form-control border-light bg-light" placeholder="Enter name" fdprocessedid="7ptu1o">
                                    </div>
                                    <div class="col-12">
                                        <input type="email" class="form-control border-light bg-light" placeholder="Enter Your email" fdprocessedid="jx60dy">
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control border-light bg-light" placeholder="Company Name" fdprocessedid="12wp9">
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control border-light bg-light" placeholder="Enter Your Message" rows="9"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn about-btn text-light justify-content-center w-100" fdprocessedid="wzko2" [routerLink]="['']" >Send Message</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/images/contact-img.png" alt="image" class="img-fluid">
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>           
        </div>
    </div>
</section> 
