/* Banner */
.personal-banner {
    background-image: url('/assets/images/banner-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 130px 0;
}
.personal-banner h1 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
}
.personal-banner-links ul li a {
    color: #fff;
    text-decoration: none;
}
.personal-banner-links ul li a:hover {
    color: var(--TextOrange);
}
/* ##################### */
/* Terms & Conditions */
.personal-TnC-title {
    color: var(--FooterHeaders);
    font-size: 1.5rem;
}
.personal-TnC-body {
    color: #333;
}