<!-- ############################################### -->
<!-- Banner -->
<section class="personal-banner mb-5">
    <h1>Destination</h1>
    <div class="personal-banner-links">
        <ul class="d-flex list-unstyled justify-content-center">
            <li class="me-3">
                <a [routerLink]="['']">Home <span class="ms-2">/</span></a>
            </li>
            <li>
                <a [routerLink]="['destination']" class="active">Destination</a>
            </li>
        </ul>
    </div> 
</section>
<!-- ############################################### -->
<!-- ############################################# -->
<!-- Section 1 -->
<section class="container my-5">
    <div class="row g-4">
        <div class="col-md-4"> <!-- Card 1 -->
            <div class="card personal-destenation-card-custom h-100">
                <img src="assets/images/destination-img-7.png" class="card-img" alt="Lao Landing Iceland" />
                <div class="rating">5.0</div>
                <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                    <h5 class="card-title">Lao Landing Iceland</h5>
                    <p class="card-text">Krabal, 100 Trips</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"><!-- Card 2 -->
            <div class="card personal-destenation-card-custom h-100">
                <img src="assets/images/destination-img-8.png" class="card-img" alt="Ladakh India" />
                <div class="rating">5.0</div>
                <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                    <h5 class="card-title">Ladakh India</h5>
                    <p class="card-text">India, 100 Trips</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"> <!-- Card 3 -->
            <div class="card personal-destenation-card-custom h-100">
                <img src="assets/images/destination-img-9.png" class="card-img" alt="Bosphorus Trip" />
                <div class="rating">5.0</div>
                <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                    <h5 class="card-title">Bosphorus Trip</h5>
                    <p class="card-text">Istanbul, 150 Trips</p>
                </div>
            </div>
        </div>
        <div class="col-md-8"><!--  Card 4 -->
            <div class="card personal-destenation-card-custom h-100">
                <img src="assets/images/destination-img-10.png" class="card-img" alt="Pryde Mountains" />
                <div class="rating">5.0</div>
                <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                    <h5 class="card-title">Pryde Mountains</h5>
                    <p class="card-text">Prydelands, 100 Trips</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"> <!--  Offer Card  -->
            <div class="card personal-destenation-card-custom promo-card h-100">
                <div class="rating">5.0</div>
                <div class="d-flex flex-column justify-content-center align-items-center h-100">
                    <h5 class="mb-3">20% Off on First Travel</h5>
                    <p>It will be the best experience of your life</p>
                    <a [routerLink]="['destination']" class="personal-offer-card-button">Book Now</a>
                </div>
            </div>
        </div>
    </div>
    <!--  Card 5 and Card 6  -->
    <div class="row g-4 mt-4">
        <div class="col-md-4 d-flex"> <!-- Card 5 -->
            <div class="card personal-destenation-card-custom w-100">
                <img src="assets/images/destination-img-12.png" class="card-img" alt="Eiffel Tower" />
                <div class="rating">5.0</div>
                <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                    <h5 class="card-title">Eiffel Tower</h5>
                    <p class="card-text">France, 150 Trips</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex">  <!-- Card 6 -->
            <div class="card personal-destenation-card-custom w-100">
                <img src="assets/images/destination-img-13.png" class="card-img" alt="Pryde Mountains" />
                <div class="rating">5.0</div>
                <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                    <h5 class="card-title">Pryde Mountains</h5>
                    <p class="card-text">Prydelands, 100 Trips</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Additional Cards -->
    <div class="row g-4 mt-4">
        <div class="col-md-4"> <!-- Card 7 -->
            <div class="card personal-destenation-card-custom h-100">
                <img src="assets/images/destination-img-14.png" class="card-img" alt="Lao Landing Iceland" />
                <div class="rating">5.0</div>
                <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                    <h5 class="card-title">Lao Landing Iceland</h5>
                    <p class="card-text">Krabal, 100 Trips</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"> <!-- Card 8 -->
            <div class="card personal-destenation-card-custom h-100">
                <img src="assets/images/destination-img-15.png" class="card-img" alt="Jammu Kashmir" />
                <div class="rating">5.0</div>
                <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                    <h5 class="card-title">Jammu Kashmir</h5>
                    <p class="card-text">India, 100 Trips</p>
                </div>
            </div>
        </div>      
        <div class="col-md-4"> <!-- Card 9 -->
            <div class="card personal-destenation-card-custom h-100">
                <img src="assets/images/destination-img-16.png" class="card-img" alt="Bosphorus Trip"/>
                <div class="rating">5.0</div>
                <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
                    <h5 class="card-title">Bosphorus Trip</h5>
                    <p class="card-text">Istanbul, 150 Trips</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##################################### -->
<!-- Section 2 -->
<section class="container my-5">
    <div class="text-center personal-w-60 mx-auto pt-5 mb-5">
        <h2 class="personal-ornage-headers">GET TO KNOW US</h2>
        <h3 class="personal-navy-subHeader my-4">Experience the World With Triptopia</h3>
        <p class="personal-grey-descrip">
            Our travel website offers a range of features and benefits that make
            discovering the world simple and enjoyable. With our advanced booking platform.
        </p>
    </div>
    <div class="row align-items-center py-5">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 feature-box">
                    <img src="assets/images/icon-about-1.png" alt="Luxury Trip" class="feature-icon" />
                    <h4>Luxury Trip</h4>
                    <p>
                        Our platform connects you with world-class travel options based
                        on your interests.
                    </p>
                </div>
                <div class="col-md-6 feature-box">
                    <img src="assets/images/icon-about-2.png" alt="Affordable Budget" class="feature-icon" />
                    <h4>Affordable Budget</h4>
                    <p>Your journey is planned within budget, ensuring excellent value for money.</p>
                </div>
                <div class="col-md-6 feature-box">
                    <img src="assets/images/icon-about-3.png" alt="Personalized Approach" class="feature-icon" />
                    <h4>Personalized Approach</h4>
                    <p>We offer personalized itineraries and services based on your preferences.</p>
                </div>
                <div class="col-md-6 feature-box">
                    <img src="assets/images/icon-about-4.png" alt="Experienced Guide" class="feature-icon" />
                    <h4>Experienced Guide</h4>
                    <p>Our team of experienced guides is available 24/7 to assist you during your trip.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 image-section">
            <img src="assets/images/about-img-5.png" alt="World Landmarks" />
        </div>
    </div>
</section>