<!-- ############################################### -->
<!-- Banner -->
<section class="personal-banner">
    <h1>FAQ</h1>
    <div class="personal-banner-links">
        <ul class="d-flex list-unstyled justify-content-center">
            <li class="me-3">
                <a [routerLink]="['']">Home <span class="ms-2">/</span></a>
            </li>
            <li>
                <a [routerLink]="['FAQ']" class="active">FAQ</a>
            </li>
        </ul>
    </div> 
</section>
<!-- ############################################### -->
<!-- ############################################### -->
<!-- Section 1: Questions -->
<section class="personal-px-5rem py-5">
    <div class="">
        <h2 class="personal-ornage-headers">FAQ</h2>
        <h3 class="personal-navy-subHeader w-100 personal-faq-subHeader">Unpacking Your Travel Questions</h3>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img class="w-100 mb-sm-5" src="assets/images/faq-img.png" />
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item mb-4">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed personal-TnC-title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                <p>Which Destinations Are Available for Tours with Triptopia?</p>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                At Triptopia, we offer tours to a diverse range of destinations, from stunning beach escapes to bustling cities and serene countryside retreats. Whether you seek adventure, cultural experiences, or relaxation, we have the perfect destination for your next journey.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-4">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed personal-TnC-title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                <p>What Services Does Triptopia Offer to Travelers?</p>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Triptopia provides a variety of services to make your travel experience seamless. Our offerings include guided tours, transportation arrangements, accommodation bookings, and personalized itineraries. We also offer specialized tours like adventure trips, luxury getaways, and cultural immersions.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-4">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed personal-TnC-title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                <p>What is Included in a Typical Tour Package?</p>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Our tour packages include essential services such as accommodation, transportation, guided tours, and curated experiences. Depending on the package, we may also offer meals, airport transfers, and access to exclusive activities at your destination.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mb-4">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed personal-TnC-title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                <p>What Should I Pack for My Trip with Triptopia?</p>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Packing essentials will depend on your destination, but we recommend bringing comfortable clothing, appropriate footwear, personal care items, travel documents, and any necessary medications. Don’t forget to pack a camera to capture your unforgettable experiences!</div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>
<!-- ############################################### -->
<!-- ############################################### -->
<!-- Section 2: Body -->
<section class="personal-px-5rem">
    <div class="personal-part-1">
        <h3 class="personal-faq-header my-4"> Journey Through History and Culture</h3>
        <p class="personal-faq-body mb-2">This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.</p>
        <p class="personal-faq-body mb-2">If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</p>
        <p class="personal-faq-body mb-2">The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which are accessible at iRestora Waiter App unless otherwise defined in this Privacy Policy.</p>
        <ul>
            <li>Pamukkale Paradise: Soaking in the Natural Thermal Springs and Cotton Castle Terraces</li>
            <li>We believe travel fosters understanding</li>
            <li>Ephesus Expedition: Tracing Ancient Ruins and Roman Relics</li>
            <li>Ephesus Expedition: Tracing Ancient Ruins and Roman Relics</li>
        </ul>
    </div>
    <div class="personal-part-2">
        <h3 class="personal-faq-header my-4">Tracing Ancient Ruins and Roman Relics</h3>
        <p class="personal-faq-body mb-2">If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</p>
        <p class="personal-faq-body mb-2">The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which are accessible at iRestora Waiter App unless otherwise defined in this Privacy Policy.</p>
    </div>
    <div class="personal-part-3 mb-5">
        <h3 class="personal-faq-header my-4">Destination Guides</h3>
        <p class="personal-faq-body mb-2">If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</p>
        <p class="personal-faq-body mb-2">The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which are accessible at iRestora Waiter App unless otherwise defined in this Privacy Policy.</p>
    </div>
</section>