/* Banner */
/* .personal-banner {
    background-image: url('/assets/images/banner-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 130px 0;
}
.personal-banner h1 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
}
.personal-banner-links ul li a {
    color: #fff;
    text-decoration: none;
}
.personal-banner-links ul li a:hover {
    color: var(--TextOrange);
} */
/* ######################################## */

:root {
  --BodyBgColor: rgb(244, 247, 252);
  --NavBarButton: rgb(65, 158, 163);
  --NavBarButtonHover: rgba(65, 158, 163, 0.8);
  --TextOrange: rgb(
    250,
    113,
    53
  ); /* any orange is this color use for all orange colors */
  --FooterHeaders: rgb(
    1,
    46,
    65
  ); /* any navy blue like headers and some buttons */
  --NavyBlueHover: rgba(1, 46, 65, 0.8);
}
* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: var(--BodyBgColor);
  /* background-image: linear-gradient(to bottom,  #b5d6ec, var(--BodyBgColor)); */
}
/* ################################### */
/* Global Classes */
.personal-w-20 {
  width: 20%;
}
.personal-w-60 {
  width: 60%;
}
.personal-py-5rem {
  /* padding top&bottom 5 rem */
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.personal-px-5rem {
  /* padding left&right 5 rem */
  padding-left: 5rem;
  padding-right: 5rem;
}
.personal-mx-5rem {
  /* margin left&right 5 rem */
  margin-left: 5rem;
  margin-right: 5rem;
}
.personal-ms-5rem {
  margin-left: 5rem;
}
.personal-me-5rem {
  margin-right: 5rem;
}
.personal-website-logo {
  /* website logo */
  width: 90px;
}
.active {
  /* Current Class */
  color: var(--TextOrange) !important;
}
.presonal-hyperlink-noStyle {
  /* removes text decoration */
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.presonal-hyperlink-noStyle:hover {
  /* adds orange color on hover */
  color: var(--TextOrange);
}
/* ###################################### */
/* NavBar */
#personal-navigation-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* Nav Elements on hover */
.navbar-nav .nav-item .nav-link:hover,
.dropdown-menu .dropdown-item:hover {
  color: var(--TextOrange);
}
/* NavBar Button */
.personal-homepage-nav-button {
  background-color: var(--NavBarButton);
  color: aliceblue;
}
.personal-homepage-nav-button:hover {
  background-color: var(--NavBarButtonHover);
  color: aliceblue;
}
/* ############################# */
/* Banner */
.personal-banner {
  background-image: url("/assets/images/banner-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 130px 0;
}
.personal-banner h1 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
}
.personal-banner-links ul li a {
  color: #fff;
  text-decoration: none;
}
.personal-banner-links ul li a:hover {
  color: var(--TextOrange);
}
/* ###################################### */
/* Error Style */
.error-message {
  color: red;
  display: block;
  margin: 0 0 10px 5px;
  font-size: 12px;
}
/* ############################################ */
/* Footer */
/* Footer: Pro Offers */
.parent-div {
  position: relative;
  background-color: var(--NavBarButton);
  padding: 40px;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color: white;
}
.input-container input {
  max-width: 300px;
  margin-right: 10px;
}
.personal-footer-button {
  background-color: var(--FooterHeaders);
  color: white;
  font-weight: bold;
  z-index: 10;
}
/* Pro Offers Shape */
.shape {
  position: absolute;
  background-color: lightblue;
  border-radius: 50%;
  opacity: 0.5;
}
.shape-1 {
  width: 100px;
  height: 100px;
  top: 30px;
  left: 50px;
}
.shape-2 {
  width: 150px;
  height: 150px;
  bottom: 20px;
  right: 90px;
}
.shape-3 {
  width: 120px;
  height: 120px;
  top: 10px;
  right: 50px;
}
/* Column Headers */
.perosnal-footer-header {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--FooterHeaders);
}
/* Responsive adjustments */
@media (min-width: 768px) {
  /* medium screens */
  .parent-div {
    width: 100%;
    padding: 20px;
  }
  .shape-1,
  .shape-2,
  .shape-3 {
    width: 80px;
    height: 80px;
  }
  .personal-signUp-sec2 img {
    max-width: 100%; /* Adjust this percentage as needed */
    height: auto; /* Maintain aspect ratio */
  }
}

.form-section {
  margin-bottom: 30px;
}
.form-control {
  background-color: #f6f6f6;
  border: none;
  border-radius: 5px;
}
.order-summary {
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.personal-checkout-para {
  font-size: 12px;
}
.payment-methods {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}
.payment-methods h5 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.personal-checkout-sec1 {
  padding: 80px 20px;
}
.personal-checkout-btn {
  background-color: #ff6a00;
  color: white;
}
.personal-checkout-btn:hover {
  opacity: 0.8;
  color: white;
}
.personal-checkout-radio {
  border: 2px solid;
}
/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
  .order-summary {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  .personal-checkout-btn {
    font-size: 0.9rem;
  }
  .form-section {
    padding: 10px;
  }
  .order-summary {
    padding: 15px;
  }
  .container {
    padding: 10px;
  }
}
